@import './normalize.scss';

html {
  color: #333;
}

[v-clock] {
  display: none !important;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #c0c4cc;
}

a {
  cursor: pointer;
  color: #2b87d1cc;
  &:hover {
    color: #2b87d1;
  }
}

button:focus {
  outline: 0;
}

.pages {
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #e6e8f4;
  padding-bottom: 30px;
}

.hide {
  display: none !important;
}
